name: Selenium Pytest Automation

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: "3.10"

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Install Allure CLI
      run: |
        sudo apt update
        sudo apt install -y default-jre unzip jq

        LATEST_URL=$(curl -s https://api.github.com/repos/allure-framework/allure2/releases/latest \
          | jq -r '.assets[] | select(.name | endswith(".zip")) | .browser_download_url')

        echo "Downloading Allure from: $LATEST_URL"

        wget $LATEST_URL -O allure.zip
        unzip allure.zip -d /opt/allure

        sudo ln -s /opt/allure/allure-*/bin/allure /usr/bin/allure

    - name: Run Tests
      run: |
        pytest -vs --alluredir=allure-results

    - name: Generate Allure Report
      run: |
        allure generate allure-results -o allure-report --clean

    - name: Publish Allure Report to GitHub Pages
      uses: peaceiris/actions-gh-pages@v3
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: allure-report
